<!DOCTYPE html>
<html>
 <head>
 <title>
 Lesson 2 - Practice
 </title>
 <meta charset="utf-8" />
 <script src="../../lib/angular.min.js"></script>
 <script src="../../js/lesson2databinding_3.js"></script>
 </head>
 <body>
 <h1>
 Lesson 2 - Practice 3 - Data Binding
 </h1>
 	<div ng-app="myApp" ng-controller="myCtrl">
 	<!-- Al cargar toma firstname del scope del controler -->
 	<!--al dar clic toma firstanme del scope de la function changeName-->
 	Clic debajo to trigger ng-click: <h1 ng-click="changeName()">{{firstname}}</h1>
 </div>
 	
 </body>
</html>
